<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAv5Hf-Jo5ia2YXcptNe9WtExy9t7sXnZk</string>
	<key>GCM_SENDER_ID</key>
	<string>624145436564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.HackatonProject</string>
	<key>PROJECT_ID</key>
	<string>techconnect-1773d</string>
	<key>STORAGE_BUCKET</key>
	<string>techconnect-1773d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624145436564:ios:1c0dfbebc7700b5c190981</string>
</dict>
</plist>